{% extends 'events/base.html' %}
{% block content %}

{%if user.is_authenticated%}
<h1>Trades</h1>
<br/>
<form class="d-flex" action = "{% url 'search_trades' %}" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
    <select class="form-select me-2" aria-label="Default select example" style="width:auto;" name="strategy">
        <option selected>Strategy</option>
        <option value="Channel Trading">Channel Trading</option>
        <option value="Short Into Resistance">Short Into Resisitance</option>
    </select>
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Profit</th>
      <th scope="col">Date</th>
      <th scope="col">Strategy</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for trade in pagin%}
    <tr class="table" >
      <th scope="row" >
        
        <a href="{% url 'trade' trade.id %}">{{trade.ticker.upper}}</a>
      </th>
      <td>{{trade.profit}}</td>
      <td>{{trade.date}}</td>
      <td>{{trade.trade_type}}</td>
      <td align="right">
				<a href="{% url 'update_trade' trade.id %}" class="btn btn-outline-secondary btn-sm">Update</a>

				<a href="{% url 'delete_trade' trade.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
			</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      {%if pagin.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo</a></li>
      <li class="page-item"><a class="page-link" href="?page={{pagin.previous_page_number}}">Previous</a></li>
      {%endif%}
      <li class="page-item active"><a class="page-link" href="#">{{pagin.number}}</a></li>
      {%if pagin.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{pagin.next_page_number}}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{pagin.num_pages}}">&raquo</a></li>
      {%endif%}
  
    </ul>
  </nav>
{%else%}
Please Log in
{%endif%}
{% endblock %}