{% extends 'events/base.html' %}
{% block content %}

{%if user.is_authenticated%}
<h1>Trades</h1>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Profit</th>
      <th scope="col">Date</th>
      <th scope="col">Strategy</th>
    </tr>
  </thead>
  <tbody>
    {% for trade in all_trades%}
    <tr>
      <th scope="row">{{trade.ticker.upper}}</th>
      <td>{{trade.profit}}</td>
      <td>{{trade.date}}</td>
      <td>{{trade.trade_type}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{%else%}
Please Log in
{%endif%}
{% endblock %}